<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Сириус.Путеводитель</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="icon" type="image/png" href="/static/Sirius.jpg">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="header-logo">
    <img src="/static/sirius_guide.png" alt="Сириус.Путеводитель" />
  </div>

  <button id="toggleAddPlaceBtn" class="centered-btn">+ Добавить место</button>

  <div id="addPlaceContainer" style="display:none; margin-top: 15px;">
    <form id="addPlaceForm" enctype="multipart/form-data">
      <input type="text" id="placeName" name="name" placeholder="Название" required />
      <input type="text" id="placeAddress" name="address" placeholder="Адрес" required />
      <input type="text" id="placeCategory" name="category" placeholder="Категория" required />
      <input type="file" id="placePhoto" name="photo" accept="image/*" required />
      <textarea id="placeDescription" name="description" placeholder="Описание" required></textarea>
      <button type="submit">Отправить</button>
    </form>
  </div>

  <div id="filters">
    <label for="categorySelect">Фильтр по категории:</label>
    <select id="categorySelect">
      <option value="all">Все категории</option>
    </select>
  </div>

  <div id="places"></div>

  <script src="/static/script.js"></script>
</body>
</html>